In [1]:
import pandas as pd
from datetime import datetime
import locale 
print("locale", "=>", locale.setlocale(locale.LC_ALL, "en.UTF-8"))

locale => en.UTF-8

In [2]:
df_flipkart = pd.read_csv('../dataset/raw/flipkart.csv')
df_flipkart

,reviewer,stars,title,review,date
0,Dhruv Sharma,4,Phenomenal,To describe it in one word – Scintillating! In...,"Aug, 2017"
1,atin bajpai,5,Classy product,"Eye opener ,in simple words books wants to sa...","Aug, 2017"
2,Sameer Saurabh,5,An answer to one of our unending questions,There are certain questions that repeatedly ke...,"Aug, 2017"
3,Shahzada Irfan Bashir,4,Very Good,Must read book for everyone! It keeps you moti...,"Aug, 2017"
4,Mustufa Baldiwala,2,Below Average..Success is not 'Circumstantial'...,Gladwell wants to say that success is largely ...,"Aug, 2017"
...,...,...,...,...,...
135,Neo,5,A new meaning to Success.,Motivational/Self Help books define success as...,"May, 2016"
136,Ankit Singh,1,Unsatisfactory,Never received it.,"May, 2016"
137,Flipkart Customer,5,Five Stars,It's superb,"May, 2016"
138,Flipkart Customer,5,Good buy,Quick delivery and good quality.,"May, 2016"
139,KUMUD BARTWAL,5,Recieved in good condition,The product was received inn perfect condition...,"May, 2016"

In [3]:
def parse_date(raw_date):
    date = ''
    if "ago" not in raw_date: 
        date = datetime.strptime(raw_date, '%b, %Y').strftime("%Y-%m")
    return date

In [4]:
df_flipkart['date'] = df_flipkart.date.apply(parse_date)

# joining title and review into review
df_flipkart['review'] = df_flipkart.title + ". " + df_flipkart.review

In [5]:
df_flipkart

,reviewer,stars,title,review,date
0,Dhruv Sharma,4,Phenomenal,Phenomenal. To describe it in one word – Scint...,2017-08
1,atin bajpai,5,Classy product,"Classy product. Eye opener ,in simple words b...",2017-08
2,Sameer Saurabh,5,An answer to one of our unending questions,An answer to one of our unending questions. Th...,2017-08
3,Shahzada Irfan Bashir,4,Very Good,Very Good. Must read book for everyone! It kee...,2017-08
4,Mustufa Baldiwala,2,Below Average..Success is not 'Circumstantial'...,Below Average..Success is not 'Circumstantial'...,2017-08
...,...,...,...,...,...
135,Neo,5,A new meaning to Success.,A new meaning to Success.. Motivational/Self H...,2016-05
136,Ankit Singh,1,Unsatisfactory,Unsatisfactory. Never received it.,2016-05
137,Flipkart Customer,5,Five Stars,Five Stars. It's superb,2016-05
138,Flipkart Customer,5,Good buy,Good buy. Quick delivery and good quality.,2016-05
139,KUMUD BARTWAL,5,Recieved in good condition,Recieved in good condition. The product was re...,2016-05

In [6]:
df_flipkart.to_csv('../dataset/cleansed/flipkart.csv', index=False)