In [10]:
import pandas as pd
from glob import glob

In [11]:
datasets = glob("../dataset/cleansed/*")
datasets

['../dataset/cleansed\\amazon.csv',
 '../dataset/cleansed\\audible.csv',
 '../dataset/cleansed\\barnesandnoble.csv',
 '../dataset/cleansed\\flipkart.csv',
 '../dataset/cleansed\\goodreads.csv']

In [12]:
df = pd.DataFrame([])
for dataset in datasets:
    tmp_df = pd.read_csv(dataset)
    df = pd.concat([df, tmp_df])
df

,reviewer,stars,title,review,date,country
0,Spectrum314k,1,Journalism and pseudoscience,Journalism and pseudoscience. Having read lots...,2017-11-12,Reino Unido
1,Stiven Skyrah,5,Salient and grounded,Salient and grounded. ​Gladwell argues that su...,2018-03-03,Reino Unido
2,J C Mitchinson,3,Interesting enough but certainly no revelation,Interesting enough but certainly no revelation...,2014-06-23,Reino Unido
3,Marty M,5,Fascinating and thought-provoking,Fascinating and thought-provoking. It takes a...,2019-01-17,Reino Unido
4,bobrayner,3,Enjoyable read but scientifically it makes me ...,Enjoyable read but scientifically it makes me ...,2020-02-18,Reino Unido
...,...,...,...,...,...,...
25,Tanu,5,NaN,NaN,2021-05-25,NaN
26,Kressel Housman,5,NaN,This has got to be Malcolm Gladwell’s best boo...,2008-12-11,NaN
27,Emma Deplores Goodreads Censorship,2,NaN,This is one of those books that give popular n...,2019-07-21,NaN
28,Riku Sayuj,5,NaN,My first exposure to Gladwell. SO was more or ...,2011-07-14,NaN
29,Tatevik is on semi hiatus (trying to finish PHD),5,NaN,This is officially the best book of 2019. Damn...,2019-12-28,NaN

In [13]:
df.review.isna().value_counts()

False    8880
True     1157
Name: review, dtype: int64

In [14]:
df = df.dropna(subset=['review'])
df = df.drop(columns=['reviewer', 'title'])

In [15]:
df.to_csv('../dataset/joined/reviews-outliers-the_story_of_success.csv', index=False)