In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [56]:
df = pd.read_csv('../dataset/joined/reviews-outliers-the_story_of_success.csv')

In [57]:
df

,stars,review,date,country
0,1,Journalism and pseudoscience. Having read lots...,2017-11-12,Reino Unido
1,5,Salient and grounded. ​Gladwell argues that su...,2018-03-03,Reino Unido
2,3,Interesting enough but certainly no revelation...,2014-06-23,Reino Unido
3,5,Fascinating and thought-provoking. It takes a ...,2019-01-17,Reino Unido
4,3,Enjoyable read but scientifically it makes me ...,2020-02-18,Reino Unido
...,...,...,...,...
8867,3,"This one is a weird one for me to write, and I...",2021-06-26,NaN
8868,5,This has got to be Malcolm Gladwell’s best boo...,2008-12-11,NaN
8869,2,This is one of those books that give popular n...,2019-07-21,NaN
8870,5,My first exposure to Gladwell. SO was more or ...,2011-07-14,NaN
8871,5,This is officially the best book of 2019. Damn...,2019-12-28,NaN

In [58]:
df.stars.value_counts()

5    6363
4    1621
3     483
2     211
1     194
Name: stars, dtype: int64

In [59]:
sentiments_mapping = {1: 0, 2:0, 3: 0, 4: 1,5: 2}

In [60]:
df['y'] = df.stars.map(sentiments_mapping)

In [61]:
df.y.value_counts()

2    6363
1    1621
0     888
Name: y, dtype: int64

In [62]:
df_2 = df[df.y == 2]

In [63]:
len(df_2)

6363

In [64]:
df_not_2 = df[df.y != 2]
len(df_not_2)

2509

In [65]:
df_2 = df_2.iloc[:2000]
len(df_2)

2000

In [66]:
df = pd.concat([df_2, df_not_2])

In [67]:
df.y.value_counts()

2    2000
1    1621
0     888
Name: y, dtype: int64

In [68]:
data_size = len(df)
data_size

4509

In [69]:
data_size * .12

541.0799999999999

In [70]:
x = df.review
y = df.y

In [71]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.12, 
                                                    random_state=42, stratify=y)

In [72]:
first_split_train_size = len(y_train)
first_split_train_size

3967

In [73]:
y_test_size = len(y_test)
y_test_size

542

In [74]:
val_proportion = y_test_size/first_split_train_size
val_proportion

0.1366271741870431

In [75]:
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=val_proportion, 
                                                  random_state=42, stratify=y_train)

In [76]:
len(y_val)

542

In [77]:
len(y_train)

3425

In [78]:
for subset in ['train', 'val', 'test']:
    print(f"{subset} (proportions):\n{eval(f'y_{subset}').value_counts(normalize=True)}")
    print(f"{subset} (counts):\n{eval(f'y_{subset}').value_counts(normalize=False)}")

train (proportions):
2    0.443796
1    0.359416
0    0.196788
Name: y, dtype: float64
train (counts):
2    1520
1    1231
0     674
Name: y, dtype: int64
val (proportions):
2    0.442804
1    0.359779
0    0.197417
Name: y, dtype: float64
val (counts):
2    240
1    195
0    107
Name: y, dtype: int64
test (proportions):
2    0.442804
1    0.359779
0    0.197417
Name: y, dtype: float64
test (counts):
2    240
1    195
0    107
Name: y, dtype: int64

In [79]:
for subset in ['train', 'val', 'test']:
    pd.DataFrame({'x': eval(f'x_{subset}'), 'y': eval(f'y_{subset}')}).to_csv(f'../dataset/final_binary_label/{subset}.csv', index=False)